* {
  margin: 20px 9px;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#ffffff, #e7e8e9);
  border: 10px solid lightgray;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #9b9883ab ;
  padding: 15px;
  overflow: hidden;
}
.app_top {
  flex: 0.1;
  margin-bottom: 0;
}
.app_bottom {
  margin-top: 0;
  flex: 0.9;
}