.body_content {
  display: flex;
  margin: 0;
}
.content_left {
  flex: 0.8;
}
.body_heading {
  color: #0e76d1;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 1.5px;
  text-shadow: 2px 1px 3px skyblue;
}
.content_right {
  flex: 0.35;
}
.body_data h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: #222; 
}
.body_data b {
  font-style: italic;
  font-size: 18px;
  margin: 0;
}
.body_data p {
  color: #444;
  letter-spacing: 0.8px;
  font-size: 15px;
}
.body_data ul {
  line-height: 10px;
}
.data_points {
  color: #444;
}

@media screen and (max-width: 1100px) {
  .body_data b, .body_data p, .body_heading, .body_data h3, .data_points  {
    font-size: 14px;
  }
  /* {
    font-size: 14px;
  } */
}

@media screen and (max-width: 920px) {
  .body_data b, .body_heading, .body_data h3, .data_points  {
    font-size: 12px;
  }
  .body_data p {
    font-size: 12px;
  }

}