.skill_data {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: -30px;
}
.skill_name {
  flex: 0.7;
}
.skill_ratting {
  flex: 0.2;
  line-height: 18px;
}

@media screen and (max-width: 1100px) {
  .skill_ratting {
    line-height: 15px;
  }
  .skill_data {
    font-size: 13px;
  }
}

@media screen and (max-width: 925px) {
  .skill_ratting {
    line-height: 12px;
  }
  .skill_data {
    font-size: 11px;
  }
}